<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Register</title>

  <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
<body data-ng-app="register">
<nav class="navbar navbar-default" data-ng-controller="Nav as vm">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/registers">App Name</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <!-- <span class="sr-only">(current)</span> -->
        <li ng-class="{active: vm.setActive('/registers')}"><a href="#/registers">REGISTERS </a></li>
        <li ng-class="{active: vm.setActive('/students')}"><a href="#/students">STUDENTS</a></li>
        <!--<li ng-class="{active: vm.setActive('/registers')}"><a href="#">SUBJECTS</a></li>-->
        <!--<li ng-class="{active: vm.setActive('/registers')}"><a href="#">CLASSES</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">NEW <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Registers</a></li>
            <li><a>Instructors</a></li>
            <li><a>Students</a></li>
            <li><a>Classes</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOUNT <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href>Logged in as <br/> <strong>{{vm.user.us_email}}</strong></a></li>
            <li role="separator" class="divider"></li>
            <li><a>Settings</a></li>
            <li><a href data-ng-click="vm.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="ng-view"></div>
</div>

<script src="../components/jquery/dist/jquery.min.js"></script>
<script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../components/angular/angular.js"></script>
<script src="../components/angular-route/angular-route.min.js"></script>
<script src="../app/app.js"></script>
<script src="../app/modules/services/api.service.js"></script>
<script src="../app/modules/nav/nav.module.js"></script>
<script src="../app/modules/nav/nav.controller.js"></script>
<!--<script src="../app/modules/login/login.module.js"></script>-->
<!--<script src="../app/modules/login/login.controller.js"></script>-->
<!--<script src="../app/modules/login/login.service.js"></script>-->
<script src="../app/modules/dashboard/dashboard.module.js"></script>
<script src="../app/modules/dashboard/dashboard.controller.js"></script>
<script src="../app/modules/dashboard/register.service.js"></script>
<script src="../app/modules/instructor/instructor.module.js"></script>
<script src="../app/modules/instructor/instructor.controller.js"></script>
<script src="../app/modules/dashboard/register.service.js"></script>
<script src="../app/modules/student/student.module.js"></script>
<script src="../app/modules/student/student.controller.js"></script>
</body>
</html>
