<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../components/jquery/dist/jquery.min.js"></script>
  <script src="../js/login.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <form class="form-horizontal login-form">
      <h3 class="text-center">Log In</h3>
      <div class="form-group">
        <input class="form-control ctrls" type="email" placeholder="Email Address" name="email" id="email">
      </div>

      <div class="form-group">
        <input class="form-control ctrls" type="password" placeholder="Password" name="password" id="password">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block btn-lg btn-login" id="btn-login">Log In</button>
      </div>
      <a href="/register">Register</a>
    </form>
  </div>

</div>
<script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
