body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

* {
  border-radius: 0 !important;
}

a {
  color: #00B7FF;
  font-weight: 300;
}

.login-form{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  padding: 40px 40px 40px 55px;
  background-color: #f5f5f5;
}

.btn-login{
  height: 56px;
  width: 320px;
  margin: 20px 0 0 0;
  padding: 15px 15px 15px 15px;
}

.ctrls{
  height: 56px;
  width: 320px;
}

.login-form > h3{
  font-weight: 300;
  margin-bottom: 20px;
}

.section-header, .section-sub-header{
  margin: 0 0 24px 0;
  font-weight: 300;
}

.tabs{
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 24px;
}

.empty-state{
  height: 400px;
  width: auto;
  border: 2px solid #f1f1f1;
  position: relative;
  margin-top: 24px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
